b-button-toolbar(key-nav  aria-label="Toolbar with button groups")
	b-button-group.mx-1
		b-btn(:disabled='loading' variant='primary' @click='prevMonth') &lsaquo;
		b-btn(disabled variant='outline-primary' ) {{month}}
		b-btn(:disabled='loading' variant='primary' @click='nextMonth') &rsaquo;    
