.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
.toppaging{
	margin : 5px 0 10px 0;
}
.paging {
	background:#fff;
	color: #333;
	margin : 30px 0 2em 0;
	padding : 5px
}
.paging span a {
	padding : 7px;
	border : 1px solid #e0e0e0;
	background : #EFEFEF;
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, center bottom, center top, from(#EFEFEF), to(#FFFFFF));
}
.paging span a{
	color : #333;
}
.paging span a:hover{
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	box-shadow : 1px 1px 5px #9f9f9f;
	border : 1px solid #9a9a9a;
}
.current {
	padding : 7px;
	border : 1px solid #c0c0c0;
	color : #333;
}
.current:hover{
	background : none;
	box-shadow : none;
}

/* Forms */
form {
	clear: both;
	padding: 0;
	width: auto;
	margin : 0 auto;
}
fieldset {
	border: 1px solid #ccc !important;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #333;
	font-size: 110%;
	font-weight: bold;
	margin : 3px 0 0 10px;
	text-shadow : 1px 1px 1px #333;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 110%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.input {
	color: #444;
}
form div.required {
	color: #333;
	font-weight: normal;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	padding: 2px;
	background : #f4f4f4;
	border : 1px solid #b2b2b2;
	padding : 5px;
}
select {
	clear: both;
	#font-size: 120%;
	background : #f4f4f4;
	border : 1px solid #b2b2b2;
	padding : 3px 2px;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: auto;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit], input.btnsubmit, button.btnsubmit{
	display: inline;
	#font-size: 110%;
	padding: 5px;
	width: auto;
	background : #EFEFEF;
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-linear-gradient(center top , #FFFFFF, #EFEFEF 40%) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, center bottom, center top, from(#EFEFEF), to(#FFFFFF));
	background: -o-linear-gradient(rgb(255,255,255),rgb(239,239,239));
	border : 1px solid #b2b2b2;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
}
#input[type=submit][disabled]{
	border : 1px solid #ddd;
	background : #eee;
}
input[type=submit]:hover, #UserLoginForm input[type=submit]:hover, input.btnsubmit:hover{
	box-shadow : 1px 1px 5px #ccc;
}
input[type=submit]:focus, input.btnsubmit:focus, input:focus, textarea:focus, select:focus, #UserLoginForm input[type=submit]:focus {
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background-image: -webkit-gradient(linear,left top,left bottom,from(FFFFFF),to(#EFEFEF));
	background : #e5f0fb;
	border : 1px solid #047fff;
	box-shadow : 0px 0px 2px #047fff;
	-webkit-box-shadow : 0px 0px 2px #047fff;
	-moz-box-shadow : 0px 0px 2px #047fff;
}

/* Notices and Errors */
/*
div.message {
	clear: both;
	color: #333;
	font-size: normal;
	font-weight: bold;
	margin: 1em 0;
	text-align : center;
	border : 1px solid #559;
	padding : 5px;
	background : #e5e5e5;
	background:-moz-linear-gradient(center bottom , #e5e5e5, #f5f5f5) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#f5f5f5));
	background-image: -webkit-gradient(linear,left top,left bottom,from(e5e5e5),to(#e5e5e5));
}
*/
div.message {
    /*background: -moz-linear-gradient(center bottom , #e5e5e5, #f5f5f5) repeat scroll 0 0 transparent;*/
    background-color: #ff0000;
    border: 1px solid #559;
    clear: both;
    color: #ffffff;
    font-weight: bold;
    height: 34px;
    margin: 1em 0;
    padding: 5px;
    text-align: center;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
	margin-bottom : 15px !important;
	__margin-left : 270px !important;
	display : inline !important;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 110%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.success {
	background: green;
	color: #fff;
}

/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	background:#fff;
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/* DIV ERROR */
#ajaxMsg{
	color: red;
    margin: 5px 5px 5px 10px;
    padding: 10px;
	background : #FFEFF7;
	border : #ddd;
}
#ajaxMsg ul{
	margin-left : 50px;
	line-height : 20px;
}

/* ADD_UNIT TABLE */
#content table.add_unit{
	_width : 870px;
	width : 88.77%;
	margin : 0 5px 0 0;
}
.add_unit tr td{
	_border : 1px solid;
	padding : 3px 0;
	height : 25px;
}
.add_unit tr td fieldset{
	margin : 0 5px 10px;
	padding : 3px;
	min-height : 260px;
}
.add_unit tr td fieldset legend{
	margin : 5px 0 10px;
}
.add_unit table{
	margin : 0 0 0 10px !important;
}
.add_unit table, .add_unit tr td{
	#width : 435px;
	padding : 0;
}
.addinput{
	vertical-align: baseline !important;
}

.grid{
	overflow : auto;
	max-height : 450px;
	min-height : 350px;
}
#inputUpper input{
	text-transform : uppercase;
}
.error-404{
	background : url('../img/error.png') top center no-repeat;
	min-height : 350px;
	min-width : 500px;
}
.back{
	margin : 10px 0 0 10px;
	padding : 5px 5px 5px 30px;
	border : 1px solid #ddd;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	background : url('../img/back.png') no-repeat center left;
	line-height : 40px;
}
a.logout{
	border : 2px solid #ff8415;
	background : url('../img/off.png') no-repeat center left !important;
	padding : 3px 3px 3px 25px !important;
}
a.button{
	display: inline;
	padding: 7px;
	width: auto;
	background : #EFEFEF;
	background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
	background: -webkit-linear-gradient(center top , #FFFFFF, #EFEFEF 40%) repeat scroll 0 0 #F6F6F6;
	background: -webkit-gradient(linear, center bottom, center top, from(#EFEFEF), to(#FFFFFF));
	background: -o-linear-gradient(rgb(255,255,255),rgb(239,239,239));
	border : 1px solid #b2b2b2;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	text-transform : uppercase;
	color : #333333;
}
.escape{
	text-align : right;
}
/** Class **/
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 130px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 290px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 370px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px;
}
