.install h1 { padding: 0px 0px 0px 20px;  }

.install { margin: 0px auto; width: 800px; padding: 0; }
.install h2 { border-bottom: 0px; margin: 20px 0px 20px 0px; }
.install p{line-height: 28px; margin-bottom: 10px; padding : 10px; border-radius: 4px; -moz-border-radius : 4px; -webkit-border-radius : 4px;}
.install .forgot { float: right; }
.install input[type=text],
.install input[type=password] { width: 95%; }

.install { margin: 30px 0px 0px 0px; padding: 0px 20px 20px 20px; background: #fff; border: 1px solid #e5e5e5; }
.install { -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px; -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;}
.install { -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.install a{border : 1px solid #999; padding : 10px; color : #333; border-radius : 4px; -webkit-border-radius : 4px;}

.install #footer { background: none; color: #444; }
.install #footer a { color: #444; }

.pullleft{width : 50%; float: left: 0;}
.pullright{float: right; padding: 5px !important}
.clear{clear: both;}
